__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db

*.urdf
.e0509_gripper_test.urdf

so-arm101-ros2-bridge/build/
so-arm101-ros2-bridge/install/
so-arm101-ros2-bridge/log/
so-arm101-ros2-bridge/outputs/
so-arm101-ros2-bridge/IsaacSim_USD/
so-arm101-ros2-bridge/get-pip.py
